<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>InsertSpreadsheetServlet</servlet-name>
		<servlet-class>edu.csus.dredit.InsertSpreadsheetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertSpreadsheetServlet</servlet-name>
		<url-pattern>/insertspreadsheet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Dredit</servlet-name>
		<servlet-class>edu.csus.dredit.DrEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dredit</servlet-name>
		<url-pattern>/dredit</url-pattern>
	</servlet-mapping>
	<servlet>
    <servlet-name>StartPageServlet</servlet-name>
    <servlet-class>edu.csus.dredit.StartPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartPageServlet</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>edu.csus.dredit.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/svc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>edu.csus.dredit.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>edu.csus.dredit.AboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <!-- Credit card viewer servlets added by Juan -->
    <servlet>
    <servlet-name>CCReportServlet</servlet-name>
    <servlet-class>edu.csus.dredit.CCReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CCReportServlet</servlet-name>
    <url-pattern>/ccreport</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>GenerateCreditCardDropDownServlet</servlet-name>
    <servlet-class>edu.csus.dredit.GenerateCreditCardDropDownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateCreditCardDropDownServlet</servlet-name>
    <url-pattern>/ccdropdown</url-pattern>
  </servlet-mapping>
  
  <!--  end credit card debt viewer servlets -->
 <welcome-file-list>
   <welcome-file>start</welcome-file>
 </welcome-file-list>
 
 <!-- <security-constraint>
        <web-resource-collection>
            <web-resource-name>profile</web-resource-name>
           <url-pattern>/profile/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
           <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>-->

</web-app>
